![{:extension "as"}]
package {{package}}
{
	{{#imports}}
    import {{namespace}}.{{name}};
	{{/imports}}
	{{#methods?}}
	import flash.errors.IllegalOperationError;
	{{/methods?}}

    {{#docs?}}
    /**
    {{#doc}}
    * {{.}}
    {{/doc}}
    **/
    {{/docs?}}

    {{#annotations}}
    {{.}}
    {{/annotations}}
	public class {{type-name}}{{#super-types?}} extends {{super-types.first.name}}{{/super-types?}}{{#implements}} implements {{implements.first.name}}{{#implements.rest}}, {{name}}{{/implements.rest}}{{/implements?}}
	{
		{{#consts?}}
        ///////////////////////////////////////////////
        //  constants
        //////////////////////////////////////////////

        {{/consts?}}

        {{#consts.all}}
        public static const {{name}}:{{#type}}{{name}}{{/type}} = "{{value}}";
        {{/consts.all}}

		{{#properties?}}
		///////////////////////////////////////////////
		//  properties
		//////////////////////////////////////////////

		{{/properties?}}

		{{#properties.all}}
		//---------------------------------------------
		//  {{name}}
		//---------------------------------------------

		private var _{{name}}:{{#type}}{{name}}{{/type}};

		{{#docs?}}
        /**
        {{#doc}}
        * {{.}}
        {{/doc}}
        **/
        {{/docs?}}

        {{#annotations}}
        {{.}}
        {{/annotations}}
		public function get {{name}}():{{#type}}{{name}}{{/type}}
		{
			return _{{name}};
		}

		{{^read-only?}}
		public function set {{name}}(value:{{#type}}{{name}}{{/type}}):void
		{
			_{{name}} = value;
		}
		{{/read-only?}}

        {{/properties.all}}

        {{#decorates?}}
        ///////////////////////////////////////////////
        //  decorates
        //////////////////////////////////////////////

        {{/decorates?}}

		{{#decorates.all}}

		private var {{decorator-name}}:{{#type}}{{name}}{{/type}} = new {{#type}}{{name}}{{/type}}();

		{{#properties}}
        //---------------------------------------------
        //  decorate {{decorator-prefix}}{{name}}
        //---------------------------------------------

		{{#docs?}}
        /**
        {{#doc}}
        * {{.}}
        {{/doc}}
        **/
        {{/docs?}}

        {{#annotations}}
		{{.}}
		{{/annotations}}
        public function get {{decorator-prefix}}{{name}}():{{#type}}{{name}}{{/type}}
        {
            return {{decorator-name}}.{{name}};
        }

        public function set {{decorator-prefix}}{{name}}(value:{{#type}}{{name}}{{/type}}):void
        {
            {{decorator-name}}.{{name}} = value;
        }

        {{/properties}}

        {{#methods}}
        //---------------------------------------------
        //  decorate {{decorator-prefix}}{{name}}
        //---------------------------------------------

		{{#docs?}}
        /**
        {{#doc}}
        * {{.}}
        {{/doc}}
        **/
        {{/docs?}}

        {{#annotations}}
		{{.}}
		{{/annotations}}
        public function {{decorator-prefix}}{{name}}( {{#params}}{{#first}}{{name}}:{{#type}}{{name}}{{/type}}{{/first}}{{#rest}}, {{name}}:{{#type}}{{name}}{{/type}}{{/rest}}{{/params}} ):{{#returns}}{{name}}{{/returns}}
        {
            return {{decorator-name}}.{{name}}({{#params}}{{#first}}{{name}}{{/first}}{{#rest}}, {{name}}{{/rest}}{{/params}});
        }

        {{/methods}}

		{{/decorates.all}}


		///////////////////////////////////////////////
		//  constructor
		//////////////////////////////////////////////

		public function {{type-name}}()
		{
			{{#super-types?}}
			super();
			{{/super-types?}}
		}

		{{#methods?}}
		///////////////////////////////////////////////
		//  methods
		///////////////////////////////////////////////

		{{/methods?}}

		{{#methods.all}}
		//---------------------------------------------
		//  {{name}}
		//---------------------------------------------

		{{#docs?}}
        /**
        {{#doc}}
        * {{.}}
        {{/doc}}
        **/
        {{/docs?}}

        {{#annotations}}
		{{.}}
		{{/annotations}}
		public function {{name}}( {{#params}}{{#first}}{{name}}:{{#type}}{{name}}{{/type}}{{/first}}{{#rest}}, {{name}}:{{#type}}{{name}}{{/type}}{{/rest}}{{/params}} ):{{#returns}}{{name}}{{/returns}}
		{
			throw new IllegalOperationError("override method {{name}} in subclass");
		}

		{{/methods.all}}



	}
}